<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <ul class="list-inline">
          <li><a target="_blank" href="https://www.facebook.com/PyConIndia/">
            {% picture src=fb alt="Facebook"%}
          </a></li>
          <li><a target="_blank" href="https://twitter.com/pyconindia">
            {% picture src=tw alt="Twitter"%}
          </a></li>
        </ul>
        <a target="_blank" href="mailto:contact@in.pycon.org">contact@in.pycon.org</a>
      </div>
      <div class="col-md-6 text-center">
          {% picture src=logo-small alt="Twitter" width="70%"%}
      </div>
      <div class="col-md-3 text-center">
        <p class="design-by">Design by</p>
        <a target="_blank" href="http://webchirpy.com">
          {% picture src=wclogo alt="Webchirpy Logo" width="40%"%}
        </a>
      </div>
    </div>
  </div>
</footer>
