<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <ul class="list-inline">
          <li><a target="_blank" href="https://www.facebook.com/PyConIndia/">{% asset fb.png alt="Facebook" %}</a></li>
          <li><a target="_blank" href="https://twitter.com/pyconindia">{% asset tw.png alt="Twitter" %}</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        {% asset logosmall.png alt="PyCon India 2019 Logo" width="70%" %}
      </div>
      <div class="col-md-3 text-center">
        <p class="design-by">Design by</p>
        <a target="_blank" href="http://webchirpy.com">{% asset wclogo.png alt="Webchirpy Logo" width="40%" %}</a>
      </div>
    </div>
  </div>
</footer>
