<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="PyCon India, PyCon, Conference" />

  <!-- Open Graph Meta -->

  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="https://in.pycon.org/2019{{page.url}}" />
  <meta property="og:image" content="https://in.pycon.org/{% asset logosmall.png @path %}" />
  <meta property="og:type" content="article" />

  <!-- WhatsApp Preview -->

  <link itemprop="thumbnailUrl" href="https://in.pycon.org/{% asset logosmall.png @path %}">
  <span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
    <link itemprop="url" href="https://in.pycon.org/{% asset logosmall.png @path %}">
  </span>

  <link rel="shortcut icon" href="/2019/assets/images/favicon.png">

  {% asset bootstrap.min.css %}
  {% asset font-awesome.min.css %}
  {% asset styles.css %}
  {% asset animate.css %}
</head>
