<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="PyCon India, the premier conference in India on using and developing the Python programming language is conducted annually by the Python developer community and it attracts the best Python programmers from across the country and abroad.">
  <meta name="keywords" content="PyCon India, PyCon, Conference" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% if page.bloglike %}
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,700" rel="stylesheet">
  {% else %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  {% endif %}
  {% asset styles.css %}
</head>
