<section>
  <img src="images/tunnel1.png" alt="Cloud-image" class="tunnel1 bg">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12 text-center wow fadeIn">
        <h1>KEYNOTE SPEAKERS</h1>
      </div>
    </div>
    <br />
    <div class="row pycon-speakers-img wow fadeIn">
      <div class="col-md-12">
        <div class="col-md-3 text-center">
          <div class="blue">
            <img src="images/client.png" alt="Image" class="sp-img" width="100%">
            <!-- <img src="images/speakers-img1.png" class="pycon-icon" alt="Image" width="42%"> -->
            <h4>Steve Rogers</h4>
            <h5>Founder, Kinply.Co</h5>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="orange">
            <img src="images/client.png" alt="Image" class="sp-img" width="100%">
            <!-- <img src="images/speakers-img2.png" class="pycon-icon" alt="Image" width="42%"> -->
            <h4>Steve Rogers</h4>
            <h5>Founder, Kinply.Co</h5>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="blue">
            <img src="images/client.png" alt="Image" class="sp-img" width="100%">
            <!-- <img src="images/speakers-img1.png" class="pycon-icon" alt="Image" width="42%"> -->
            <h4>Steve Rogers</h4>
            <h5>Founder, Kinply.Co</h5>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="orange">
            <img src="images/client.png" alt="Image" class="sp-img" width="100%">
            <!-- <img src="images/speakers-img2.png" class="pycon-icon" alt="Image" width="42%"> -->
            <h4>Steve Rogers</h4>
            <h5>Founder, Kinply.Co</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="images/tunnel4.png" alt="Cloud-image" class="tunnel2 tunnel4 bg">
</section>
