<section class="wrapper">
  {% asset tunnel-blue-exit.png alt="" class="tunnel1 bg" %}
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12 text-center wow fadeIn">
        <h2><strong>KEYNOTE SPEAKERS</strong></h2>
      </div>
    </div>
    <br />
    <div class="row pycon-speakers-img wow fadeIn" style="display:flex;">
      {% for speaker in site.data.speakers %}
        <div class="col-md-3 text-center" style="display:flex; flex-wrap: wrap;">
          {% assign mod = forloop.index | modulo: 2 %}
          <div class="{% if mod == 0 %}blue{% else %}orange{% endif %}" style="max-width: 300px;">
            {% asset {{speaker.photo}} alt="{{speaker.name}}" class="sp-img" width="100%" %}
            {% comment %}{% asset python-bottom.png class="pycon-icon" alt="PyCon Icon" width="42%" %}{% endcomment %}
            <h4>{{speaker.name}}</h4>
            <h5>{{speaker.title}}</h5>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% asset tunnel-white-entry.png alt="" class="tunnel2 tunnel4 bg" %}
</section>
