<div class="navbar">
  <a rel="noopener" href="https://in.pycon.org/2018/" target="_blank">2018</a>
  <a rel="noopener" href="/">Home</a>
  <a rel="noopener" href="sponsorship-prospectus.html">Sponsorship Prospectus</a>
  <a rel="noopener" href="cfp.html">CFP</a>
  <a rel="noopener" href="code-of-conduct.html">Code Of Conduct</a>
  <a rel="noopener" href="https://twitter.com/pyconindia" target="_blank">Twitter</a>
  <a rel="noopener" href="https://goo.gl/forms/GdtTebWL7mn3oKtW2" target="_blank">Subscribe</a>
</div>
