<section class="pycon-tab">
  <img src="images/bluewind.png" alt="Image" class="bluewind bg" style="left: 18%;top: -53px">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12 text-center">
        <h1>CONFERENCE SCHEDULE</h1>
      </div>
    </div><br />
    <div class="col-md-12 wow fadeIn" style="z-index: 999">

        <div class="btn-pref btn-group btn-group-justified btn-group-lg " role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
                    <h5>OCTOBER, 12th</h5>
                    <h5>Saturday</h5>
                    <h4><b>CONFERENCE</b></h4>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                  <h5>OCTOBER, 13th</h5>
                    <h5>Sunday</h5>
                    <h4><b>CONFERENCE</b></h4>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><h5>OCTOBER, 14th</h5>
                    <h5>Monday</h5>
                    <h4><b>WORK SHOPS</b></h4>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab4" data-toggle="tab"><h5>OCTOBER, 15th</h5>
                    <h5>Tuesday</h5>
                    <h4><b>DEV SPRINTS</b></h4>
                </button>
            </div>
        </div>

            <div class="well">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
                  <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>REGISTRATION</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>LUNCH</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>

              </div>
              <div class="tab-pane fade in" id="tab2">
                <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>REGISTRATION</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>LUNCH</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="tab-pane fade in" id="tab3">
                <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>REGISTRATION</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>LUNCH</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="tab-pane fade in" id="tab4">
                <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>REGISTRATION</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="odd">
                      <div class="col-md-2">
                        <span>8.00 am - 9.00 am</span>
                      </div>
                      <div class="col-md-8 col-md-offset-1 text-center">
                        <h5><b>LUNCH</b></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="even">
                    <div class="col-md-2">
                      <span class="time">8.00 am - 9.00 am</span>
                    </div>
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track">Track 1</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track1">Track 2</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track2">Track 3</span>
                    </div>
                    <div class="col-md-2 text-center">
                      <b><p>Exploring PyTorch for AI Assistance in medical Imaging</p></b>
                      <h5 class="exp"><b>By Abishek Kumar</b></h5>
                      <span class="track3">Track 4</span>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="text-center pycon-speakers-img dwd-schedule" style="position: relative;">
        <a href="#" class="dwd-link"><b>DOWNLOAD SCHEDULE</b></a>
        </div>

    </div>
  </div>
  <img src="images/ratinum.png" alt="Image" class='ratinum bg'>
  <!-- <img src="images/ferris-wheel.png" alt="Image" class='rot1 bg loading'>
  <img src="images/rot2.png" alt="Image" class='rot2 bg'> -->
  <img src="images/bluewind.png" alt="Image" class='bluewind bg'>
</section>
