<section class="pycon-tab">
  <img src="images/bluewind.png" alt="" class="bluewind bg" style="left: 18%;top: -53px">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12 text-center">
        <h1>TENTATIVE SCHEDULE</h1>
      </div>
    </div><br />

    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Day 1</a></li>
        <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day 2</a></li>
        <li role="presentation"><a href="#day3" aria-controls="day3" role="tab" data-toggle="tab">Day 3</a></li>
        <li role="presentation"><a href="#day4" aria-controls="day4" role="tab" data-toggle="tab">Day 4</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="day1">
          <div class="table-responsive table-condensed">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall A</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall B</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall C</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" valign="top"><p>08:00 AM</p></td>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Registration</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td align="center" valign="top"><p>Opening Address</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td align="center" valign="top"><p>Keynote</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td align="center" valign="top"><p>11:00 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>11:00 AM</p></td>
                <td align="center" valign="top"><p>01:00 PM</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>01:00 PM</p></td>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td align="center" valign="top"><p>03:00 PM</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>Poster Session</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>03:00 PM</p></td>
                <td align="center" valign="top"><p>04:45 PM</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>04:45 PM</p></td>
                <td align="center" valign="top"><p>05:15 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>05:15 PM</p></td>
                <td align="center" valign="top"><p>06:15 PM</p></td>
                <td align="center" valign="top"><p>Keynote</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="day2">
          <div class="table-responsive table-condensed">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall A</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall B</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall C</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" valign="top"><p>08:00 AM</p></td>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Registration</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td align="center" valign="top"><p>Opening</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td align="center" valign="top"><p>Keynote</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td align="center" valign="top"><p>11:00 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td align="center" valign="top"><p>01:00 PM</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>01:00 PM</p></td>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td align="center" valign="top"><p>03:15 PM</p></td>
                <td align="center" valign="top"><p>Lightning Talks</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>03:15 PM</p></td>
                <td align="center" valign="top"><p>04:30 PM</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
                <td align="center" valign="top"><p>Talks</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>04:30 PM</p></td>
                <td align="center" valign="top"><p>05:00 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>05:00 PM</p></td>
                <td align="center" valign="top"><p>06:00 PM</p></td>
                <td align="center" valign="top"><p>Keynote</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>06:00 PM</p></td>
                <td align="center" valign="top"><p>06:15 PM</p></td>
                <td align="center" valign="top"><p>Closing Note</p></td>
                <td align="center" valign="top"><p>-</p></td>
                <td align="center" valign="top"><p>-</p></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="day3">
          <div class="table-responsive table-condensed">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Room 1, 2, 3, 4</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Room 5, 6, 7</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td align="center" valign="top"><p>09:00 AM</p></td>
              <td align="center" valign="top"><p>09:30 AM</p></td>
              <td colspan="2" align="center" valign="top"><p>Registration</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>09:30 AM</p></td>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top"><p>Morning Workshop</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td colspan="2" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td align="center" valign="top"><p>01:00 AM</p></td>
              <td align="center" valign="top"><p>Morning Workshop</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>01:00 PM</p></td>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td colspan="2" align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td align="center" valign="top"><p>04:00 PM</p></td>
              <td align="center" valign="top"><p>Afternoon Workshop</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:00 PM</p></td>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td colspan="2" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td align="center" valign="top"><p>06:00 PM</p></td>
              <td align="center" valign="top"><p>Afternoon Workshop</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="day4">
          <div class="table-responsive table-condensed">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Room 5, 6, 7</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td align="center" valign="top"><p>09:00 AM</p></td>
              <td align="center" valign="top"><p>09:30 AM</p></td>
              <td align="center" valign="top"><p>Registration</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>09:30 AM</p></td>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td align="center" valign="top"><p>01:00 AM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>01:00 PM</p></td>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td align="center" valign="top"><p>04:00 PM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:00 PM</p></td>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td align="center" valign="top"><p>06:00 PM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
