<section class="pycon-tab">
  {% asset bluewind.png alt="" class="bluewind bg" style="left: 18%;top: -53px;" %}
  <a id="schedule"></a>
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12 text-center">
        <h1>SCHEDULE</h1>
      </div>
    </div><br />

    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">12th Oct</a></li>
        <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">13th Oct</a></li>
        <li role="presentation"><a href="#day3" aria-controls="day3" role="tab" data-toggle="tab">14th Oct</a></li>
        <li role="presentation"><a href="#day4" aria-controls="day4" role="tab" data-toggle="tab">15th Oct</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="day1">
          <div class="table-responsive table-condensed">
            <table class="table table-bordered table-striped table-condensed">
	      <col width="5%"/>
	      <col width="5%"/>
	      <col width="30%"/>
	      <col width="30%"/>
	      <col width="30%"/>
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall A</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall B</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall C</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" valign="top"><p>08:00 AM</p></td>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Registration and Breakfast</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Opening Address</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Keynote: Jake VanderPlas</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td align="center" valign="top"><p>11:00 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>11:00 AM</p></td>
                <td align="center" valign="top"><p>11:30 AM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/maps-delimitation-and-gerrymandering-with-python~bWJWa/"> Maps, Delimitation, and Gerrymandering with Python</a></p> <p> Anand S </p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/python-is-not-easy-lessons-from-sympys-codebase~bk1xe/">Python is NOT easy - lessons from SymPy's codebase</a></p><p>Sadhana Srinivasan</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/practical-introduction-to-graph-dbs-graph-traversals-in-python~e38ra/">Practical introduction to Graph DBs, Graph Traversals in Python</a></p><p>Srimathi H</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>11:35 AM</p></td>
                <td align="center" valign="top"><p>12:05 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/python-packaging-where-we-are-and-where-were-headed~dGV8b/">Python Packaging - where we are and where we're headed</a></p><p>Pradyun Gedam</p></td>
                <td align="center" valign="top"><p><a href="/2019/aqr-sponsored-talk.html">Fintech - A Practitioner's Perspective</a></p><p>Krishna "Chrys" Kattirisetti</p><p><a href="https://www.aqr.com/" target="_blank">AQR</a> Sponsored Talk</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/call-raise-or-fold-python-for-simulating-poker-games~b8ymd/" >Call, Raise or Fold - Python for Simulating Poker Games</a></p><p>Abhijit Gadgil</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>12:10 PM</p></td>
                <td align="center" valign="top"><p>12:40 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/rest-in-peace-rest-the-rise-of-graphql~eVDMb/" >Rest in peace REST. The rise of GraphQL</a></p><p>Abhishek Mishra</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/micropython-building-a-physical-inventory-search-engine~bol3d/" >Micropython: Building a Physical Inventory Search Engine</a></p><p>Vinay Keerthi K T</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/exploring-augmented-reality-with-python~e0rKb/" >Exploring Augmented Reality with Python</a></p><p>Srikar Mutnuri</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>12:45 PM</p></td>
                <td align="center" valign="top"><p>01:15 PM</p></td>
                <td align="center" valign="top"><p>Lunch</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/machine-learning-bias~e1Aje/" >Machine Learning Bias</a></p><p>Abdul Majed</p></td>
                <td align="center" valign="top"><p>Lunch</p></td>
              </tr>          
	      <tr>
                <td align="center" valign="top"><p>01:15 PM</p></td>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Lunch</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td align="center" valign="top"><p>02:30 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Lightning Talks</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>02:35 PM</p></td>
                <td align="center" valign="top"><p>03:05 PM</p></td>
                <td align="center" valign="top"><p><a href="talk-matthew.html">spaCy PyTorch Transformers</a></p><p>Dr. Matthew Honnibal</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/using-vulture-to-improve-used-to-unused-code-ratio-of-your-python-programs~aKnze/" >Using Vulture to improve used-to-unused code ratio of your Python Programs</a></p><p>Rahul Jha</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/smart-lock-nah-pwning-a-smart-lock-with-python~eEoNb/" >"Smart lock? Nah dude.":<br/> Pwning a smart lock with Python</a></p><p>Anirudh &amp; Raghav</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>03:10 PM</p></td>
                <td align="center" valign="top"><p>03:40 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/lifting-up-deep-learning-for-implementing-anti-hunger-and-anti-poverty-programs-keras-python-library~dyGWa/">Lifting Up: Deep Learning for Implementing Anti-hunger and Anti-poverty Programs</a></p><p>Usha Rengaraj</p></td>
                <td align="center" valign="top"><p><a href="/2019/indeed-sponsored-talk.html">Indeed's Endeavor to "Push on Green"</a></p><p>Amulya Bandikatla</p><p><a href="https://www.indeed.jobs/" target="_blank">Indeed</a> Sponsored Talk</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/ragabot-music-encoded~axMJb/" >Ragabot - Music Encoded</a></p><p>Vikrant Patil</p></td>
              </tr>
	       <tr>
                <td align="center" valign="top"><p>03:45 PM</p></td>
                <td align="center" valign="top"><p>04:15 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/a-pythonistas-approach-to-deepfakes~e5Zxa/" >A Pythonista's Approach to DeepFakes</a></p><p>Navin Pal</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/performance-optimization-with-python-elasticsearch~eXJlb/" >Performance optimization with Python-Elasticsearch</a></p><p>Anisha Swain</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/solving-industrial-problems-with-machine-learning-and-image-processing-an-application-on-corrosion-estimation-for-failure-prediction-in-og-pipelines~aMl3e/">Solving Industrial Problems with Machine<br/> Learning and image Processing</a></p><p>Sonam</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>04:15 PM</p></td>
                <td align="center" valign="top"><p>05:30 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Poster Session + Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>05:30 PM</p></td>
                <td align="center" valign="top"><p>06:30 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Keynote: Devi A S L</p></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="day2">
          <div class="table-responsive table-condensed">
            <table class="table table-bordered table-striped table-condensed">
	      <col width="5%"/>
	      <col width="5%"/>
	      <col width="30%"/>
	      <col width="30%"/>
	      <col width="30%"/>
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall A</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall B</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Hall C</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" valign="top"><p>08:00 AM</p></td>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Registration and Breakfast</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:15 AM</p></td>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Opening Address</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>09:30 AM</p></td>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Keynote: Ines Montani</p></td>
	      </tr>
              <tr>
                <td align="center" valign="top"><p>10:30 AM</p></td>
                <td align="center" valign="top"><p>11:00 AM</p></td>
                <td colspan="3" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>11:00 AM</p></td>
                <td align="center" valign="top"><p>11:30 AM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/how-we-built-a-state-machine-to-keep-up-with-a-1200-txssecond-blockchain-protocol~eZLEb/" >How we built a State Machine to keep up with a 1200+ Txs/second blockchain protocol</a></p><p>Anomit Ghosh</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/building-graphql-api-with-django~bo1Ne/" >Building GraphQL API with Django</a></p><p>Anitha</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/how-i-hand-coded-core-machine-learning-algorithms-from-scratch-in-python-what-i-learned-and-why-you-should-too~enkEa/" >How i hand-coded core Machine learning Algorithms from scratch in python, what i learned, and why you should too.</a></p><p>Arjun Kathuria</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>11:35 AM</p></td>
                <td align="center" valign="top"><p>12:05 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/how-we-are-building-smart-reply-for-chat~eZMvd/" >How we are building Smart Reply for Chat</a></p><p>Nirant Kasliwal</p></td>
                <td align="center"
                valign="top"><p><a href="/2019/microsoft-sponsored-talk.html">Visual Studio Code + Python  =  Awesomeness !</a></p><p>Ashish Sahu and Sagar Bhanudas Joshi</p><p><a href="https://docs.microsoft.com/en-us/azure/python" target="_blank">Microsoft</a> Sponsored Talk</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/machine-learning-for-iot-at-the-edge~bo5Ne/" >Machine Learning for IoT at the Edge</a></p><p>Sukanya</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>12:10 PM</p></td>
                <td align="center" valign="top"><p>12:40 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/natural-language-generation-with-python~dJole/" >Natural Language Generation with Python</a></p><p> Jaidev Deshpande</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/lets-hunt-a-memory-leak~dPVWa/" >Let's Hunt a Memory Leak</a></p><p>Sanket</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/demystifying-web-map-servers-the-invisible-side-of-geographic-information-systems~b6Ala/" >Demystifying Web Map Servers: the invisible side of Geographic Information Systems</a></p><p>Shivashis Padhi</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>12:45 AM</p></td>
                <td align="center" valign="top"><p>01:15 PM</p></td>
                <td align="center" valign="top"><p>Lunch</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/scaling-up-data-pipelines-using-apache-parquet-and-dask~aQpYe/" >Scaling up Data Pipelines using Apache Parquet and Dask</a></p><p>Lalit</p></td>
                <td align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>01:15 PM</p></td>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>02:00 PM</p></td>
                <td align="center" valign="top"><p>02:55 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Lightning Talks</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>03:00 AM</p></td>
                <td align="center" valign="top"><p>03:30 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/accessibility-of-python-and-data-science~epA1a/" >Accessibility of Python and Data Science</a></p><p>Rishab, Shakul, Abhisar, Sunil</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/real-world-numba-taking-the-path-of-least-resistance~dygVa/" >Real World Numba: Taking the Path of Least Resistance</a></p><p>Ankit Mahato</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/entering-the-world-of-serious-games-with-python~dNgze/" >Entering the world of Serious Games with Python</a></p><p>Harshinee Sriram</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>03:35 AM</p></td>
                <td align="center" valign="top"><p>04:05 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/generators-explained~ell6e/" >Generators Explained</a></p><p>Rajat Vadiraj Dwaraknath</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/indicnlp-an-open-data-platform-to-bring-indian-languages-to-the-advancements-of-nlp~ejm5d/" >IndicNLP - An open data platform to bring Indian languages to the advancements of NLP.</a></p><p>Adam Shamsudeen</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/extracting-tabular-data-from-pdfs-with-camelot-excalibur~bmWOe/">Extracting tabular data from PDFs with Camelot & Excalibur </a></p><p>Vinayak Mehta</p></td>
              </tr>
	      <tr>
                <td align="center" valign="top"><p>04:10 AM</p></td>
                <td align="center" valign="top"><p>04:40 PM</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/anomaly-detection-in-cyber-security-for-iot-using-federated-learning~bYK9e/" >Anomaly Detection in Cyber Security for IoT using Federated Learning</a></p><p>Bargava Subramanian</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/python-based-simulation-and-treatment-planning-in-craniofacial-surgery-advances-and-challenges~dJBDd/" >Python based simulation and treatment planning in Craniofacial Surgery: Advances and Challenges.</a></p><p>Akilesh Ramasamy</p></td>
                <td align="center" valign="top"><p><a href="https://in.pycon.org/cfp/2019/proposals/machine-learning-model-and-dataset-versioning~dRqRb/" >Machine Learning Model and Dataset Versioning</a></p><p>Kurian Benoy</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>04:40 PM</p></td>
                <td align="center" valign="top"><p>05:05 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>05:00 PM</p></td>
                <td align="center" valign="top"><p>06:05 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Keynote: David Beazley</p></td>
              </tr>
              <tr>
                <td align="center" valign="top"><p>06:05 PM</p></td>
                <td align="center" valign="top"><p>06:15 PM</p></td>
                <td colspan="3" align="center" valign="top"><p>Closing Address</p></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="day3">
          <div class="table-responsive table-condensed">
            <table class="table table-bordered table-striped table-condensed">
	      <col width="6%"/>
	      <col width="6%"/>
	      <col width="12%"/>
	      <col width="12%"/>
	      <col width="12%"/>
	      <col width="12%"/>
	      <col width="12%"/>
	      <col width="12%"/>
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Room 1</strong></h5></th>
		<th class="text-center"><h5 class="extra-padding"><strong>Room 2</strong></h5></th>
		<th class="text-center"><h5 class="extra-padding"><strong>Room 3</strong></h5></th>
		<th class="text-center"><h5 class="extra-padding"><strong>Room 4</strong></h5></th>
		<th class="text-center"><h5 class="extra-padding"><strong>Room 5</strong></h5></th>
		<th class="text-center"><h5 class="extra-padding"><strong>Room 6</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Room 7, 8, 9</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td align="center" valign="top"><p>09:00 AM</p></td>
              <td align="center" valign="top"><p>10:00 AM</p></td>
              <td colspan="7" align="center" valign="top"><p>Registration</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>10:00 AM</p></td>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/demystifying-natural-language-processing-using-python-scikit-learn-keras~eg46a/">Demystifying Natural Language Processing using Python (Scikit-Learn / Keras)</a></p>
		<p>Vaibhav Srivastav</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/demystifying-docker-for-devs~e9WPb/">Demystifying Docker for Devs</a></p>
		<p>Sanchit Balchandani, Mahendra Yadav</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/advance-ml-on-improving-performance-of-machine-learning-models-by-optimizing-hyper-parameters~bYPpa/">Advance ML - On Improving Performance of Machine Learning Models by Optimizing Hyper-parameters</a></p>
		<p>Tanay Agrawal, Anubhav Kesari</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/advance-machine-learning-quantitative-finance-global-macro-trading-strategy-using-probabilistic-graphical-models-pgmpy-package~azJ8a/">Global macro trading strategy using PGM(pgmpy package)</a></p>
		<p>Usha Rengaraju, Abinash Panda</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/building-testing-and-profiling-efficient-micro-services-using-tornado~e9vxa/">Building, testing and profiling efficient micro-services using Tornado</a></p>
		<p>Satish Chandra Gupta</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/geospatial-api-with-python-and-postgis~bmm0b/">Geospatial API with Python and PostGIS</a></p>
		<p>Nick Doiron</p>
	      </td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td colspan="7" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td align="center" valign="top"><p>01:00 AM</p></td>
	      <td align="center" valign="top">
		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/demystifying-natural-language-processing-using-python-scikit-learn-keras~eg46a/">Demystifying Natural Language Processing using Python (Scikit-Learn / Keras)</a></p>
		<p>Vaibhav Srivastav</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/demystifying-docker-for-devs~e9WPb/">Demystifying Docker for Devs</a></p>
		<p>Sanchit Balchandani, Mahendra Yadav</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/advance-ml-on-improving-performance-of-machine-learning-models-by-optimizing-hyper-parameters~bYPpa/">Advance ML - On Improving Performance of Machine Learning Models by Optimizing Hyper-parameters</a></p>
		<p>Tanay Agrawal, Anubhav Kesari</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/advance-machine-learning-quantitative-finance-global-macro-trading-strategy-using-probabilistic-graphical-models-pgmpy-package~azJ8a/">Global macro trading strategy using PGM(pgmpy package)</a></p>
		<p>Usha Rengaraju, Abinash Panda</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/building-testing-and-profiling-efficient-micro-services-using-tornado~e9vxa/">Building, testing and profiling efficient micro-services using Tornado</a></p>
		<p>Satish Chandra Gupta</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/geospatial-api-with-python-and-postgis~bmm0b/">Geospatial API with Python and PostGIS</a></p>
		<p>Nick Doiron</p>
	      </td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>01:00 PM</p></td>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td colspan="7" align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td align="center" valign="top"><p>04:00 PM</p></td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/2019/workshop-build-your-own-async.html">Build Your Own Async</a></p>
		<p>David Beazley</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/distributed-machine-learning-in-python-using-apache-spark~e5vBa/">Distributed Machine learning in Python using Apache Spark</a></p>
		<p>Satwik Kansal</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/pyro-demystified-bayesian-deep-learning~en4lb/">Pyro Demystified: Bayesian Deep Learning</a></p>
		<p>Suriyadeepan Ramamoorthy</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/deploying-machine-learning-models-at-the-edge~eVq1d/">Deploying Machine Learning Models at the Edge</a></p>
		<p>Ankit Mahato</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/creating-3d-environments~dNvKd/">Creating 3D Environments</a></p>
		<p>Ashish Dantu</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/serverless-with-openfaas-and-python~aAkBd/">Serverless with OpenFaaS and Python</a></p>
		<p>Vivek Kumar Singh</p>
	      </td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:00 PM</p></td>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td colspan="7" align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td align="center" valign="top"><p>05:30 PM</p></td>
	      	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/2019/workshop-build-your-own-async.html">Build Your Own Async</a></p>
		<p>David Beazley</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/distributed-machine-learning-in-python-using-apache-spark~e5vBa/">Distributed Machine learning in Python using Apache Spark</a></p>
		<p>Satwik Kansal</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/pyro-demystified-bayesian-deep-learning~en4lb/">Pyro Demystified: Bayesian Deep Learning</a></p>
		<p>Suriyadeepan Ramamoorthy</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/deploying-machine-learning-models-at-the-edge~eVq1d/">Deploying Machine Learning Models at the Edge</a></p>
		<p>Ankit Mahato</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/creating-3d-environments~dNvKd/">Creating 3D Environments</a></p>
		<p>Ashish Dantu</p>
	      </td>
	      <td align="center" valign="top">
 		<p><a href="https://in.pycon.org/cfp/workshops-2019/proposals/serverless-with-openfaas-and-python~aAkBd/">Serverless with OpenFaaS and Python</a></p>
		<p>Vivek Kumar Singh</p>
	      </td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="day4">
          <div class="table-responsive table-condensed">
            <table class="table table-bordered table-striped table-condensed">
	      <col width="6%"/>
	      <col width="6%"/>
	      <col width="78%"/>
            <thead>
              <tr>
                <th class="text-center"><h5 class="extra-padding"><strong>Start Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>End Time</strong></h5></th>
                <th class="text-center"><h5 class="extra-padding"><strong>Room 7</strong></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td align="center" valign="top"><p>09:00 AM</p></td>
              <td align="center" valign="top"><p>09:30 AM</p></td>
              <td align="center" valign="top"><p>Registration</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>09:30 AM</p></td>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:00 AM</p></td>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>11:30 AM</p></td>
              <td align="center" valign="top"><p>01:00 AM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>01:00 PM</p></td>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td align="center" valign="top"><p>Lunch</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>02:30 PM</p></td>
              <td align="center" valign="top"><p>04:00 PM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:00 PM</p></td>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td align="center" valign="top"><p>Tea Break</p></td>
              </tr>
              <tr>
              <td align="center" valign="top"><p>04:30 PM</p></td>
              <td align="center" valign="top"><p>06:00 PM</p></td>
              <td align="center" valign="top"><p>Devsprint</p></td>
              </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
