<section id="platinum" class="pycon-tab wrapper">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12 text-center">
        <h2 id="sponsorship"><strong>EVENT SPONSORS</strong></h2>
      </div>
    </div>
    <div class="row pycon-speakers-img sponsors wow fadeIn">
      <div class="col-md-10 col-md-offset-1">
        <p class="text-center">
          PyCon India is entirely driven by volunteers. Sponsoring the event helps to sustain and
          grow the conference as well as the community. Sponsors help in making the conference affordable,
          and maintaining the inventory for the conference.
        </p>
        <div class="text-center" style="position: relative;">
          <a href="/2019/sponsorship-prospectus.pdf" class="dwd-link"><b>DOWNLOAD SPONSORSHIP PROSPECTUS</b></a>
        </div>

      </div><br /><br />

      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <h4 style="margin: 0 auto; text-align: center;">PLATINUM SPONSORS</h4>
        <div class="col-md-12 sponsor text-center">
          <a href="https://www.aqr.com" target="_blank">
            {% asset aqr.png class="square" alt="AQR" width="100%" %}
          </a>

          <a href="https://www.indeed.jobs" target="_blank">
            {% asset indeed.png class="landscape" alt="Indeed" width="100%" %}
          </a>

          <a href="https://docs.microsoft.com/en-us/azure/python" target="_blank">
            {% asset microsoft.png class="landscape" alt="Microsoft" width="100%" %}
          </a>

        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <h4 style="margin: 0 auto; text-align: center;">GOLD SPONSORS</h4>
        <div class="col-md-12 sponsor text-center">
          <a href="https://aws.amazon.com" target="_blank">
            {% asset aws.png class="square" alt="Amazon Web Services" width="100%" %}
          </a>

          <a href="https://www.jetbrains.com/" target="_blank">
            {% asset jetbrains.png class="portrait" alt="JetBrains" width="100%" %}
          </a>

          <a href="https://www.madstreetden.com/" target="_blank">
            {% asset madstreetden.png class="landscape" alt="Mad Street Den" width="100%" %}
          </a>

          <a href="https://visiblealpha.com/" target="_blank">
            {% asset visiblealpha.png class="x-landscape" alt="Visible Alpha" width="100%" %}
          </a>

          <a href="https://www.ericsson.com" target="_blank">
            {% asset ericsson.png class="portrait" alt="Ericsson" width="100%" %}
          </a>

          <a href="https://www.happyfox.com/" target="_blank">
            {% asset happyfox.png class="landscape" alt="HappyFox" width="100%" %}
          </a>

          <a href="https://www.innovaccer.com/" target="_blank">
            {% asset innovaccer.png class="x-landscape" alt="Innovaccer" width="100%" %}
          </a>

          <a href="https://editn.in/" target="_blank">
            {% asset ediitn.png class="x-landscape" alt="EDII-TN" width="100%" %}
          </a>

          <a href="https://www.techatbloomberg.com/" target="_blank">
            {% asset bloomberg.png class="landscape" alt="Bloomberg" width="100%" %}
          </a>

        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <h4 style="margin: 0 auto; text-align: center;">SILVER SPONSORS</h4>
        <div class="col-md-12 sponsor text-center">
          <a href="https://pipal.in/" target="_blank">
            {% asset pipal.jpg class="square" alt="Pipal Academy" width="100%" %}
          </a>

          <a href="https://erpnext.org" target="_blank">
            {% asset erpnext.png class="landscape" alt="ERPNext Foundation" width="100%" %}
          </a>

          <a href="https://www.pramati.com" target="_blank">
            {% asset pramati.png class="landscape" alt="Pramati" width="100%" %}
          </a>

          <a href="https://www.dckap.com" target="_blank">
            {% asset dckap.png class="landscape" alt="DCKAP" width="100%" %}
          </a>

          <a href="https://lji.io" target="_blank">
            {% asset lji.png class="landscape" alt="Loyalty Juggernaut" width="100%" %}
          </a>

          <a href="https://www.elastic.co" target="_blank">
            {% asset elastic.png class="landscape" alt="Elastic" width="100%" %}
          </a>

          <a href="https://deepsource.io" target="_blank">
            {% asset deepsource.png class="landscape" alt="DeepSource" width="100%" %}
          </a>

          <a href="https://thght.works/2O8u6n8" target="_blank">
            {% asset thoughtworks.png class="landscape" alt="ThoughtWorks" width="100%" %}
          </a>

          <a href="https://www.redhat.com/en/global/india" target="_blank">
            {% asset redhat.png class="landscape" alt="Red Hat" width="100%" %}
          </a>

          <a href="https://www.guvi.in" target="_blank">
            {% asset guvi.png class="landscape" alt="Guvi" width="100%" %}
          </a>

          <a href="http://www.zeomega.com" target="_blank">
            {% asset zeomega.png class="landscape" alt="Guvi" width="100%" %}
          </a>

          <a href="https://www.episource.com" target="_blank">
            {% asset episource.png class="square" alt="Episource" width="100%" %}
          </a>

          <a href="https://www.appviewx.com" target="_blank">
            {% asset appviewx.png class="square" alt="AppViewX" width="100%" %}
          </a>

        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <h4 style="margin: 0 auto; text-align: center;">ASSOCIATE SPONSORS</h4>
        <div class="col-md-12 sponsor text-center">
          <a href="https://realpython.com" target="_blank">
            {% asset realpython.png class="landscape" alt="Real Python" width="100%" %}
          </a>

          <a href="https://www.mavenhive.in/" target="_blank">
            {% asset mavenhive.png class="landscape" alt="MavenHive" width="100%" %}
          </a>

          <a href="https://cppsecrets.com" target="_blank">
            {% asset cppsecrets.png class="landscape" alt="CPPSecrets" width="100%" %}
          </a>

          <a href="https://www.toyotaconnected.co.in/" target="_blank">
            {% asset toyota.png class="landscape" alt="Toyota Connected" width="100%" %}
          </a>

          <a href="https://www.mjit.in" target="_blank">
            {% asset mjit.png class="landscape" alt="Maho Jase institute of Technology" width="100%" %}
          </a>

          <a href="https://www.atonarp.com" target="_blank">
            {% asset atonarp.png class="landscape" alt="ATONARP" width="100%" %}
          </a>

          <a href="https://www.reckonsys.com" target="_blank">
            {% asset reckonsys.png class="landscape" alt="Reckonsys" width="100%" %}
          </a>

          <a href="https://www.airasia.com" target="_blank">
            {% asset airasia.png class="landscape" alt="AirAsia" width="100%" %}
          </a>

          <a href="https://www.kla.com" target="_blank">
            {% asset kla.png class="landscape" alt="KLA" width="100%" %}
          </a>

        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <h4 style="margin: 0 auto; text-align: center;">IN-KIND SPONSORS</h4>
        <div class="col-md-12 sponsor text-center">
          <a href="https://xapo.com" target="_blank">
            {% asset xapo.png class="landscape" alt="Xapo" width="100%" %}
          </a>

          <a href="https://www.stickermule.com/supports/pyconindia19" target="_blank">
            {% asset stickermule.png class="landscape" alt="Sticker Mule" width="100%" %}
          </a>
        </div>
      </div>

      <!-- <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>PLATINUM SPONSORS</h4>
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>GOLD SPONSORS</h4>
        </div>
        <div class="row wow fadeIn">
          <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="" width="100%">
          </div>
          <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="" width="100%">
          </div>
          <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="" width="100%">
          </div>
            <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="" width="100%">
          </div>
        </div>


      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>SILVER SPONSORS</h4>
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>ASSOCIATE SPONSORS</h4>
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="" width="100%">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>INKIND SPONSORS</h4>
        </div>
        <div class="col-md-4 text-center">
          <img src="images/dbs.png" alt="" width="60%">
        </div>
        <div class="col-md-4 text-center">
          <img src="images/dbs.png" alt="" width="60%">
        </div>
        <div class="col-md-4 text-center">
          <img src="images/dbs.png" alt="" width="60%">
        </div>

      </div> -->
    </div>
  </div>
  {% asset auto-right-small.png alt="" class="ther bg wow slideInLeft" %}
</section>
