<section id="platinum">
  <img src="images/tunnel3.png" alt="Cloud-image" class="tunnel1 bg">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12 text-center">
        <h1>EVENT SPONSORS</h1>
      </div>
    </div>
    <div class="row pycon-speakers-img sponsors wow fadeIn">
      <div class="col-md-10 col-md-offset-1">
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
        <div class="text-center" style="position: relative;">
          <a href="#" class="dwd-link"><b>DOWNLOAD SPONSERSHIP PROSPECTUS</b></a>
        </div>

      </div><br /><br />
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>PLATINUM SPONSORS</h4>
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>GOLD SPONSORS</h4>
        </div>
        <div class="row wow fadeIn">
          <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="Image" width="100%">
          </div>
          <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="Image" width="100%">
          </div>
          <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="Image" width="100%">
          </div>
            <div class="col-md-3 text-center">
            <img src="images/dbs.png" alt="Image" width="100%">
          </div>
        </div>


      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>SILVER SPONSORS</h4>
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>ASSOCIATE SPONSORS</h4>
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
        <div class="col-md-3 text-center">
          <img src="images/dbs.png" alt="Image" width="100%">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 common-padding wow fadeIn">
        <div class="platinum">
          <h4>INKIND SPONSORS</h4>
        </div>
        <div class="col-md-4 text-center">
          <img src="images/dbs.png" alt="Image" width="60%">
        </div>
        <div class="col-md-4 text-center">
          <img src="images/dbs.png" alt="Image" width="60%">
        </div>
        <div class="col-md-4 text-center">
          <img src="images/dbs.png" alt="Image" width="60%">
        </div>

      </div>
    </div>
  </div>
  <img src="images/auto1.png" alt="Image" class='ther bg wow slideInLeft'>
  <img src="images/tunnel4.png" alt="Cloud-image" class="tunnel2 tunnel4 bg">
</section>
