<!-- TODO Convert this to be YML Based -->
<section class="pycon-tab" id="pycon-tab">
  <img src="images/bluewind.png" alt="Image" class="bluewind bg" style="left: 18%;top: -53px">
  <div class="row wow fadeIn">
    <div class="col-md-12 text-center">
      <h1>TICKETS PRICETABLE</h1>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="3" class="text-center"><h3><b>CONFERENCE</b></h3></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h5><b>EARLY BIRD TICKET</b></h5>
                <p>Conference ticket for 6th - 7th Oct, '18</p>
                <p>Sales ends by 30 Jun, 2018 11:59 (Asia/Kolkata) or Completion of 300 tickets</p>
              </td>
              <td>
                <h5><b>INR 1200</b></h5>
                <p>(GST Applicable)</p>
              </td>
              <td style="position: relative;" class="dwd-schedule">

            <a href="#" class="dwd-link"><b>BUY TICKETS</b></a>

              </td>
            </tr>
            <tr>
              <td>
                <h5><b>EARLY BIRD TICKET</b></h5>
                <p>Conference ticket for 6th - 7th Oct, '18</p>
                <p>Sales ends by 30 Jun, 2018 11:59 (Asia/Kolkata) or Completion of 300 tickets</p>
              </td>
              <td>
                <h5><b>INR 1200</b></h5>
                <p>(GST Applicable)</p>
              </td>
              <td style="position: relative;" class="dwd-schedule">

            <a href="#" class="dwd-link"><b>BUY TICKETS</b></a>

              </td>
            </tr>
            <tr>
              <td>
                <h5><b>EARLY BIRD TICKET</b></h5>
                <p>Conference ticket for 6th - 7th Oct, '18</p>
                <p>Sales ends by 30 Jun, 2018 11:59 (Asia/Kolkata) or Completion of 300 tickets</p>
              </td>
              <td>
                <h5><b>INR 1200</b></h5>
                <p>(GST Applicable)</p>
              </td>
              <td style="position: relative;" class="dwd-schedule">

            <a href="#" class="dwd-link"><b>BUY TICKETS</b></a>

              </td>
            </tr>
            <tr>
              <td>
                <h5><b>EARLY BIRD TICKET</b></h5>
                <p>Conference ticket for 6th - 7th Oct, '18</p>
                <p>Sales ends by 30 Jun, 2018 11:59 (Asia/Kolkata) or Completion of 300 tickets</p>
              </td>
              <td>
                <h5><b>INR 1200</b></h5>
                <p>(GST Applicable)</p>
              </td>
              <td style="position: relative;" class="dwd-schedule">

            <a href="#" class="dwd-link"><b>BUY TICKETS</b></a>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
    </div>
  </div>
  <img src="images/bluewind.png" alt="Image" class="bluewind bg">
</section>
