<!-- TODO Convert this to be YML Based -->
<section class="wrapper" style="background: white;">
  {% asset tunnel-white-exit.png alt="" class="tunnel1 bg" %}
  {% asset bluewind.png alt="" class="bluewind bg" style="left: 18%;top: -53px; z-index:9999;" %}
  <div class="row wow fadeIn">
    <div class="col-md-12 text-center">
      <h1>TICKETS</h1>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-12">
        <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            {% for category in site.data.tickets %}
              <tr>
                <td>
                  <h5><strong>{{category.type }}</strong></h5>
                  <p>{{category.event_date}}</p>
                  <p>
                    {% if category.open %}
                      {{category.end_date}}
                    {% else %}
                      {{category.start_date}}
                    {% endif %}
                  </p>
                </td>
                <td>
                  <h5><strong>₹{{category.cost}}</strong></h5>
                  <p>(GST Applicable)</p>
                </td>
                <td style="position: relative;" class="dwd-schedule">
                  {% if category.open %}
                    <a href="https://www.townscript.com/e/pycon-india-2019/" target="_blank" rel="noreferrer noopener" class="dwd-link">
                      <strong>BUY TICKETS</strong>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        <!-- <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p> -->
      </div>
    </div>
  </div>
  {% asset tunnel-white-entry.png alt="" class="tunnel2 tunnel4 bg" %}
</section>
