<section class="wrapper" style="background: white;" id="tickets">
  {% asset tunnel-white-exit.png alt="" class="tunnel1 bg" %}
  {% asset bluewind.png alt="" class="bluewind bg" style="left: 18%;top: -53px; z-index:9999;" %}
  <div class="row wow fadeIn">
    <div class="col-md-12 text-center">
      <h1>TICKETS</h1>
    </div>
  </div>
  <br />
  <div class="container ticket-desktop">
    <div class="row wow fadeIn">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped tickets-table">
            <tbody>
              {% for category in site.data.tickets %}
                <tr>
                  <td class="col-md-6">
                    <h5><strong>{{category.type }}</strong></h5>
                    <p>{{category.event_date}}</p>
                    <p>
                      {% if category.open %}
                        {{category.end_date}}
                      {% else %}
                        {{category.start_date}}
                      {% endif %}
                    </p>
                  </td>
                  <td class="col-md-2" style="vertical-align:middle;">
                    {% if category.cost %}
                      <h5>
                        <strong>
                          ₹{{category.cost}}
                        </strong>
                      </h5>
                      <p>(GST Applicable)</p>
                    {% endif %}
                  </td>
                  <td style="position: relative;{% unless category.open %}vertical-align:middle;{% endunless %}" class="dwd-schedule col-md-3 text-center">
                    {% if category.open %}
                      <a href="https://www.townscript.com/e/pycon-india-2019/booking" target="_blank" rel="noreferrer noopener" class="dwd-link">
                        <strong>BUY TICKETS</strong>
                      </a>
                    {% else %}
                      {% if category.sold_out %}
                        <strong style="color:red;">SOLD OUT</strong>
                      {% else %}
                        <a href="https://goo.gl/forms/GdtTebWL7mn3oKtW2" target="_blank" rel="noreferrer noopener" class="dwd-link">NOTIFY ME!</a>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container ticket-mobile">
    {% for category in site.data.tickets %}
      {% if category.sold_out == false %}
        <div class="row wow fadeIn">
          <div class="col-md-12 light">
            <h3><strong>{{category.type}}</strong></h3>
            <p>
              {{category.event_date}}
              {% if category.open %}
                {{category.end_date}}
              {% else %}
                {{category.start_date}}
              {% endif %}
            </p>

            <p>
              <strong>
                {% if category.cost %}
                  ₹{{category.cost}} (GST Applicable)
                {% endif %}
              </strong>
            </p>

            <p class="buy-ticket">
              {% if category.open %}
                <a href="https://www.townscript.com/e/pycon-india-2019/booking" target="_blank" rel="noreferrer noopener" class="dwd-link">
                  <strong>BUY TICKETS</strong>
                </a>
              {% else %}
                <a href="https://goo.gl/forms/GdtTebWL7mn3oKtW2" target="_blank" rel="noreferrer noopener" class="dwd-link">NOTIFY ME!</a>
              {% endif %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <div class="row wow fadeIn">
      <div class="col-md-12 light">
        <h3>All tickets have been <strong style="color:red;">sold out</strong>.</h3>
      </div>
    </div>

    <br>
  </div>
  {% asset tunnel-white-entry.png alt="" class="tunnel2 tunnel4 bg" %}
</section>
